@import "variables", "color-scheme";

:host {
  display: block;
  margin: $cube 0;

  ::ng-deep label {
    display: flex;
    flex-direction: column;

    input {
      outline: none;
      border: none;
      background-color: transparent;
      border-bottom: $text-color solid $cube * 0.1;
      padding: $cube * 0.5;
    }
  }
}
