@import "variables", "color-scheme";

$border-radius: $cube * 0.4;
$hover-color: $primary-dark-transparent;
$checked-color: $primary;
$hover-checked-color: $primary-dark;

:host {
  display: inline-flex;
  flex-direction: row;
  user-select: none;
  margin: $cube * 0.6 0;

  ::ng-deep label {
    cursor: pointer;
    padding: $cube * 0.6 $cube * 1.6;
    background-color: transparentize($primary-dark, 0.8);
    border: $primary-dark solid $cube * 0.1;

    transition: background-color $transition $transition-type, border-color $transition $transition-type;

    &:first-of-type {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-of-type {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &:not(:last-of-type) {
      border-right: none;
    }

    &:hover {
      border-color: $hover-color;
      background-color: $hover-color;

      & + input + label {
        border-left: $hover-color solid $cube * 0.1;
      }
    }
  }

  ::ng-deep input {
    display: none;

    &:checked + label {
      background-color: $checked-color;
      border-color: $checked-color;

      & + input + label {
        border-left: $checked-color solid $cube * 0.1;
      }

      &:hover {
        border-color: $hover-checked-color;
        background-color: $hover-checked-color;

        & + input + label {
          border-left: $hover-checked-color solid $cube * 0.1;
        }
      }
    }
  }
}
