@import "variables";

:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $cube * 7 1fr;
  grid-template-areas: "header" "body";

  page-header {
    grid-area: header;
  }

  page-body {
    grid-area: body;
  }
}
