@import "variables", "color-scheme";

:host {
  background-color: $secondary-light;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 $cube * 2;
  box-shadow: $box-shadow;

  span.title {
    font-size: $title-font-size;
    font-weight: $bold-font-weight;
  }

  div.user-management {
    display: flex;
    flex-direction: row;
    align-items: center;

    a.username {
      color: $bright;
      margin-right: $cube * 2;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
