@import "variables", "color-scheme";

.button {
  width: 5%;
}

td.avatar {
  width: 0.1%;
  padding: 1 * $cube;

  img, .no-avatar {
    width: 4 * $cube;
    height: 4 * $cube;
    border-radius: 50%;

    &.no-avatar {
      display: block;
      fill: $text-color;
    }
  }
}
