<page-layout>
  <page-header>
    <p></p>
    <control-button (performClick)="showAddUserSlideOut()" type="default">
      <icon-add controlIcon></icon-add>
      <span>User</span>
    </control-button>
  </page-header>
  <page-body>
    <table>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Group(s)</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
      <tr *ngFor="let user of users; trackBy: trackBy">
        <td class="avatar">
          <img *ngIf="user.avatar_url; else noAvatar" [src]="user.avatar_url" alt="">
          <ng-template #noAvatar>
            <icon-no-avatar class="no-avatar"></icon-no-avatar>
          </ng-template>
        </td>
        <td>{{user.name || user.id}}</td>
        <td>{{getGroupDisplay(user)}}</td>
        <td class="button">
          <control-button>
            <icon-edit controlIcon></icon-edit>
          </control-button>
        </td>
        <td class="button">
          <control-button (performClick)="delete(user.id)" type="red">
            <icon-remove controlIcon></icon-remove>
          </control-button>
        </td>
      </tr>
    </table>
  </page-body>
</page-layout>
