<page-layout>
  <page-header>
  </page-header>
  <page-body>
    <table>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Group(s)</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
      <tr *ngFor="let user of users; trackBy: trackBy">
        <td class="avatar"><img [src]="user.avatar_url" alt=""></td>
        <td>{{user.name || user.id}}</td>
        <td>{{getGroupDisplay(user)}}</td>
        <td class="button">
          <control-button>
            <icon-edit controlIcon></icon-edit>
          </control-button>
        </td>
        <td class="button">
          <control-button (performClick)="delete(user.id)" type="red">
            <icon-remove controlIcon></icon-remove>
          </control-button>
        </td>
      </tr>
    </table>
  </page-body>
</page-layout>
