@import "variables", "color-scheme";

:host {
  background-color: $secondary-light;
  box-shadow: $box-shadow;

  display: flex;
  flex-direction: column;

  a {
    padding: $cube;
    transition: background-color $transition $transition-type;

    &:hover {
      background-color: $secondary;
    }
  }
}
