@import "variables", "color-scheme";

:host {
  width: calc(100vw - #{$cube * 4});
  height: calc((100vh - #{$cube * 4}) * 0.75);

  padding: $cube * 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    width: $cube * 10;
    height: $cube * 10;
    margin-bottom: $cube * 3;
  }

  h1 {
    font-size: $title-font-size * 2;
  }

  p, span.error {
    max-width: $cube * 75;
    text-align: center;
    font-size: $text-font-size * 1.5;
    margin-bottom: $cube * 3;
  }

  h1, p, span.error {
    user-select: none;
  }

  span.error {
    margin-top: $cube * 3;
    color: $bright;
    border-radius: $cube * 0.4;
    padding: $cube * 2;
    background-color: transparentize($red, .7);
    border: $cube * 0.1 solid $red-dark;

    &, a {
      font-size: $text-font-size * 1.2;
    }
  }
}
