/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "variables", "color-scheme";

* {
  margin: 0;
  padding: 0;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: $secondary-lighter $secondary;

  /* Webkit */
  ::-webkit-scrollbar {
    width: $cube * 0.7;
    height: $cube * 0.7;
    background-color: $secondary;
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: $secondary-lighter;
  }
}

html {
  box-sizing: border-box;
  background-color: $secondary;

  body div.noscript {
    width: 100vw;
    height: calc(100vh * 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@import "scss/base/font", "scss/base/a";
