/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

@import "scss/base/font", "scss/base/a";
